# Ignore everything
*

# But not .gitignore file
!.gitignore

# And not Jupyter Notebook files
!*.ipynb

# Allow the videos directory
!videos/
# But ignore everything in it
videos/*
# Except these two specific videos
!videos/demo_720p60_10fps.mp4
!videos/demo_alt_10fps.mp4
